---
import { listAvesTarget } from "../../componentes/aves-listado.astro";
import Header from "../../componentes/Header.astro";
import Footer from "../../componentes/footer.astro";
import Volver from "../../componentes/btn-volver.astro";
import CodigoQR from '../../componentes/Qrcode.astro';

export async function getStaticPaths() {
  return listAvesTarget.map((ave) => ({
    params: { slug: ave.slug }, // El parámetro 'slug' debe coincidir con [slug].astro
    props: { ave }, // Pasamos los datos del ave como propiedades (props)
  }));
}

const { ave } = Astro.props;
console.log(ave);
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{ave.nombreComun} - Detalles</title>

    <meta name="viewport" content="width=device-width initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body>
    <Header />

    <main class="detalle-ave contenedor-principal">
      <Volver />

      <div class="contenedor-foto">
        <img src={ave.Imagen} alt="Imagen del ave {ave.nombreComun} " />

        <span class={`estado estado-${ave.Estado.toLowerCase()}`}
          >{ave.Estado}</span
        >
      </div>
      <h1>{ave.nombreComun}</h1>
      <p><i>{ave.nombreCientifico}</i></p>
      <p class="nombreIngles">{ave.nombreIngles}</p>

      {/* Volvemos a aprovechar el componente Image optimizado de Astro */}

      <section class="target t-habitat">
        <div class="contenido-target">
          <p class="T-habitat">Habitat y Distribución</p>
          <p>{ave.Habitat}</p>
          <div class="piso">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="200"
              height="200"
              viewBox="0 0 48 48"
              fill="#0066cc"
              ><g
                fill="none"
                stroke="#0066cc"
                stroke-linejoin="round"
                stroke-width="4"
                ><path d="m18 10l14 28H4l14-28Z"></path><path
                  stroke-linecap="round"
                  d="m28 29l5.647-7L44 38H32M12 22h12m-10-4l-4 8m12-8l4 8"
                ></path></g
              ></svg
            >
            <span>Piso Termico: {ave.Piso}</span>
          </div>
        </div>
      </section>

      {/* Estilo para la tarjeta DE ESTADO */}
      <section class={`target t-estado fondo-${ave.Estado.toLowerCase()}`}>
        <div class="contenido-target content-estado">
          <span class={`big-estado estado-${ave.Estado.toLowerCase()}`}
            >{ave.Estado}</span
          >
          <p class="titulo-uicn">ESTADO UICN</p>
          <p class="contenido-uicn">{ave.Uicn}</p>
        </div>
      </section>

      {/* Estilo para la tarjeta DE DESCRIPCION*/}
      <section class={`target `}>
        <div class="contenido-target content-description">
          <div class="description">

            <h1>

              <span>
                <svg
                  height="200"
                  width="200"
                  viewBox="0 0 48 48"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="m4.5 25.445l27.908 5.49l5.317 4.372m2.36-1.561l-2.36 1.561l-3.299 2.183M20.588 10.51l-5.669 3.232l.032.85l-1.894 1.462l2.81.46v4.648l2.433 2.989l3.85 3.617l8.03-.778l1.261.025L43.5 33.869l-10.136-8.186l3.892.396l-2.83-2.459l4.303-.268l-17.499-9.563Zm.547 16.43l-.83 1.49m5.435-.896l-1.246 1.664"
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="m29.068 20.312l-7.715-.26l-.501-3.858Z"
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </span> <span>Descrición Interpretativa</span>
            </h1>

            <p>{ave.Descripcion}</p>

          </div>

          <div class="dato">
            <p>{ave.Dato}</p>
          </div>

        </div>
      </section>
      <div class="mi-seccion-qr">
      <CodigoQR size={150} />
    </div>
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    margin-bottom: 30rem;
  }
  /*Globales  */
  .detalle-ave {
    max-width: 90%;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 0rem;
    line-height: 0.4;
  }
  i {
    font-size: 2rem;
  }
  p {
    font-size: 1.6rem;
  }
  .nombreIngles {
    font-size: 1.8rem;
    margin: 0;
    line-height: 0.3;
  }

  /* Contenedor de la foto */

  .detalle-ave img {
    width: 100%;
    border-radius: 2rem;
  }

  .contenedor-foto {
    position: relative;
    height: auto;
    width: 100%;
  }

  /*  Estilos para el incono de estado*/

  .estado {
    padding: 0.7rem;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    top: 83%;
    right: 1rem;
  }
  .estado-lc {
    background-color: rgb(1, 145, 1);
    color: #ffff;
  }
  .fondo-lc {
    background-color: rgb(210, 255, 210);
  }
  .estado-nt {
    background-color: rgb(21, 248, 21);
    color: black;
  }
  .estado-vu {
    background-color: #ffe600;
    color: black;
  }
  .fondo-vu {
    background-color: hsl(68, 100%, 89%);
  }
  .estado-en {
    background-color: rgb(255, 102, 0);
    color: black;
  }
  .fondo-en {
    background-color: rgb(255, 220, 197);
  }
  .estado-cr {
    background-color: rgb(255, 0, 0);
  }

  /* Estilo para la tarjeta */
  .target {
    margin-top: 3rem;
    border: 0.1rem solid #615e5e;
    border-radius: 2rem;
    height: auto;
    /* ELIMINAR */
  }
  .contenido-target {
    padding: 2rem;
    margin: 0 auto;
  }
  .piso {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }

  .piso svg {
    width: 2.4rem;
    height: 2.4rem;
  }
  /* especificos */

  .T-habitat {
    margin: 0;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .t-habitat {
    background-color: #e0e0e0;
  }
  /* Estilo para la tarjeta de ESTADO*/
  .big-estado {
    font-size: 2.5rem;
    font-weight: 900;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  .t-estado {
    width: 100%;
  }
  .content-estado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-estado p {
    margin: 0.3rem;
  }
  .titulo-uicn {
    font-size: 1.2rem;
  }
  .contenido-uicn {
    font-weight: 800;
  }

  .big-estado-vu {
    background-color: red;
  }
  /* Estilo para la tarjeta de DESCRICIÓN*/
  .description{
  
  }
  .description svg{
    width: 2.4rem;
    height: inherit;
  }
  .description h1{
    font-size: 2rem;
    display: flex;
    align-items: center;

  }
  .dato{
    border: .1rem solid rgb(211, 211, 211) ;
    border-radius: 1rem;
    border-left: .3rem solid #ff6600;
    background-color: #fce4d5;


  }
  .dato p{
    padding: 1rem;
    margin: 0;
  }

</style>
